.example-card {
    min-width: 90vw;
    max-height: 600px;
    padding: 10px 20px 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 9px 0px;
    display: flex;
  }

.mat-card-content {
    margin: 20px;
}

img {
    display: block;
    max-width:350px;
    max-height:250px;
    width: auto;
    height: auto;
    margin: auto;
}



