.container {
    display: flex;
    margin: 20px;
    padding-bottom: 20px;
    gap: 20px;
    flex-flow: row wrap;
}


div button {
    display: block;
    margin: auto;
    margin-top: 40px;
}

button {
    background-color: rgb(221, 221, 221);

    &:hover {
        background-color: rgb(205, 205, 205);
    }
}

.button-container {
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.flex {
    margin-top: 8rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}

.checkout {
    background-color: orange;

    
    &:hover {
        background-color: rgb(212, 138, 1);

    }
}

