@import '../../../styles.scss';

.form-container {
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    // margin-top: -50px;
    // margin-left: -50px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.button-container {
    width: 300px;
    margin: auto;
    padding-bottom: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    
}

.checkout {
    color: black;
    background-color: rgb(39, 245, 87);

    &:hover {
        background-color: rgb(20, 125, 44);
    }
}