
<form [formGroup]="checkoutFormGroup" (ngSubmit)="checkOutCart()">
    <div class="form-container">

    <mat-form-field>
        <mat-label>First Name</mat-label> 
        <input matInput formControlName="firstName" type="text" />
        <mat-error *ngIf="checkoutFormGroup.controls['firstName'].hasError('required')">
            First Name is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Last Name</mat-label> 
        <input matInput formControlName="lastName" type="text" id="lastName" name="lastName"/>
        <mat-error *ngIf="checkoutFormGroup.controls['lastName'].hasError('required')">
            Last Name is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Address</mat-label> 
        <input matInput formControlName="address" type="text" id="address" name="address"/>
        <mat-error *ngIf="checkoutFormGroup.controls['address'].hasError('required')">
            Address is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>City</mat-label> 
        <input matInput formControlName="city" type="text" id="city" name="city"/>
        <mat-error *ngIf="checkoutFormGroup.controls['city'].hasError('required')">
            City is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Postal Code</mat-label> 
        <input matInput formControlName="postalCode" type="text" id="postalCode" name="postalCode"/>
        <mat-error *ngIf="checkoutFormGroup.controls['postalCode'].hasError('required')">
            Postal Code is required.
        </mat-error>
        <mat-error *ngIf="checkoutFormGroup.controls['postalCode'].hasError('pattern')">
            Only numerical digits are allowed.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Country</mat-label>
        <mat-select formControlName="country">
          <mat-option *ngFor="let country of countries" value="country">
            {{ country }}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Card Type</mat-label>
        <mat-select formControlName="card">
          <mat-option *ngFor="let card of cards" value="card">
            {{ card }}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Card Number</mat-label> 
        <input #cardNumber matInput formControlName="creditCardNumber" type="text" id="creditCardNumber" name="creditCardNumber" maxlength="16"/>
        <mat-hint align="end">{{cardNumber.value?.length || 0}}/16</mat-hint>
        <mat-error *ngIf="checkoutFormGroup.controls['creditCardNumber'].hasError('required')">
            Credit Card Number is required.
        </mat-error>
        <mat-error *ngIf="checkoutFormGroup.controls['creditCardNumber'].hasError('pattern')">
            Only numerical digits are allowed.
        </mat-error>
    </mat-form-field>


      <mat-form-field>
        <mat-label>CVC</mat-label> 
        <input #cvc matInput formControlName="cvc" type="text" id="cvc" name="cvc" maxlength="4"/>
        <mat-hint align="end">{{cvc.value?.length || 0}}/4</mat-hint>
        <mat-error *ngIf="checkoutFormGroup.controls['cvc'].hasError('required')">
            CVC Number is required.
        </mat-error>
        <mat-error *ngIf="checkoutFormGroup.controls['cvc'].hasError('pattern')">
            Only numerical digits are allowed.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Name on the Card</mat-label> 
        <input matInput formControlName="nameOnCard" type="text" id="nameOnCard" name="nameOnCard"/>
        <mat-error *ngIf="checkoutFormGroup.controls['nameOnCard'].hasError('required')">
            Name on the card is required.
        </mat-error>
    </mat-form-field>

</div>

    <div>
        <button mat-button type="submit" [disabled]="checkoutFormGroup.invalid">Submit</button>
    </div>
</form>
